{% extends 'base.html.twig' %}

{% block titulo %}<h1>Reseteo enviado</h1>{% endblock %}

{% block body %}
    <p>
        Si la cuenta que has escrito existe en nuestro sistema, se habrá enviado un enlace de reseteo de contraseña
        Este enlace caduca {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si no has recibido el correo, mira la bandeja de Spam <a href="{{ path('app_forgot_password_request') }}">Intentar de nuevo</a>.</p>
{% endblock %}
