{% extends 'base.html.twig' %}

{% block titulo %}<h1>Cambiar contraseña</h1>{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Cambiar contraseña</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Introduce tu email y enviaremos un correo para resetear tu contraseña.
            </small>
        </div>

        <button class="btn btn-danger">Enviarme email</button>
    {{ form_end(requestForm) }}
{% endblock %}
