{% extends 'base.html.twig' %}
{% block titulo %}
  <h1>Conócenos</h1>
  <p>Circuito Alcázar, el mejor sitio para pilotar los mejore coches</p>
{% endblock %}
{% block body %}
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2">
            <img src="images/circuito.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 mr-auto">
            <h2>Circuito Alcázar</h2>
            <p>Dispones de mínimo 30m para conducir plenamente uno de nuestros superdeportivos</p>
            <p>Siempre irás acompañado de un profesional en caso de cualquier incoveniente y así disfrutar plenamente de la experiencia</p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center text-center mb-5 section-2-title">
          <div class="col-md-6">
            <span class="text-danger">Nuestro equipo</span>
            <h2 class="mb-4">Conócenos</h2>
            <p>En circuito Alcázar contamos con los mejores profesionales tanto pilotos, asistentes, limpieza, mecánica y asistentes</p>
          </div>
        </div>
        <div class="row align-items-stretch">

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">
              
                <img src="images/person_1.jpg" alt="Image"
                 class="img-fluid">
            
              <div class="post-entry-1-contents">
                <span class="meta">Fundador</span>
                <h2>Sergio Alcázar</h2>
                <p>Ex-piloto y amante de los super deportivos, de pasarlo bien y de hacer que los demás sean felices</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">
              
                <img src="images/piloto1.jpg" alt="Image"
                 class="img-fluid">
            
              <div class="post-entry-1-contents">
                <span class="meta">Piloto</span>
                <h2>Andrés Montoya</h2>
                <p>12 años con V12 a las espaldas</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">
              
                <img src="images/person_2.jpg" alt="Image"
                 class="img-fluid">
            
              <div class="post-entry-1-contents">
                <span class="meta">Piloto</span>
                <h2>María Hurtado</h2>
                <p>Piloto con 16 años de experiencia, amante de Lamborghini</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">
              
                <img src="images/limpiador.jpg" alt="Image"
                 class="img-fluid">
            
              <div class="post-entry-1-contents">
                <span class="meta">Limpieza</span>
                <h2>Paco Jimenez</h2>
                <p>Es una auténtica máquina y tiene cuenta en Forocoches</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">
              
                <img src="images/pilotoM.jpg" alt="Image"
                 class="img-fluid">
            
              <div class="post-entry-1-contents">
                <span class="meta">Mecánica</span>
                <h2>Laura Castillo</h2>
                <p>Amante de los motores atmosféricos</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 person-1">
              
                <img src="images/piloto2.jpg" alt="Image"
                 class="img-fluid">
            
              <div class="post-entry-1-contents">
                <span class="meta">Mecánico</span>
                <h2>Carlos Mendez</h2>
                <p>Especializado en Ferrari, un máquina con los V10</p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <img src="images/meca.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto">
            <h2>Nuestra Historia</h2>
            <p>Sergio, un niño amante de los motores, se convirtió en un adolescente y su afán por la gasolina seguía. Comenzó los estudios de mecánica mientras que los domingos competía con su coche</p>
            <p>El tiempo pasó y quiso crear un circuito para que la gente pueda disfrutar como él los super deportivos</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container site-section mb-5">
      <div class="row justify-content-center text-center">
        <div class="col-7 text-center mb-5">
          <h2>¿Cómo funciona esto?</h2>
          <p>Te contamos los pasos para ponerte en los mandos de nuestros coches o del tuyo</p>
        </div>
      </div>
      <div class="how-it-works d-flex">
        <div class="step">
          <span class="number"><span>01</span></span>
          <span class="caption">Reserva Online</span>
        </div>
        <div class="step">
          <span class="number"><span>02</span></span>
          <span class="caption">Confirmacion</span>
        </div>
        <div class="step">
          <span class="number"><span>03</span></span>
          <span class="caption">Reconocimiento del circuito</span>
        </div>
        <div class="step">
          <span class="number"><span>04</span></span>
          <span class="caption">¡Ponte a los pedales!</span>
        </div>
        <div class="step">
          <span class="number"><span>05</span></span>
          <span class="caption">Experiencia increíble</span>
        </div>

      </div>
    </div>
{% endblock %}