{% extends 'base.html.twig' %}
{% block lib %}
  <script src="{{ asset('js/lib/lib-misReservas.js') }}"></script>
{% endblock %}
{% block titulo %}
  <h1 id="titulo">Mis reservas</h1>
{% endblock %}
{% block body %}
  <div id="contPrinci">
  <div class="d-flex justify-content-center" id="spinner">
    <span class="spinner-border text-danger spinner-border-sm" style="width: 200px; height: 200px"></span>
  </div>
  </div>
  <div class="modal fade" id="modalHora" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
     <p>Vas a cancelar la reserva, ¿Deseas continuar?</p> 
    </div>
    <div class="modal-footer">
        <button id="btnCancelar" type="button" class="btn btn-warning" data-bs-dismiss="modal">Confirmar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}