{% extends 'base.html.twig' %}

{% block titulo %}
    <h1>Perfil</h1>
{% endblock %}

{% block body %}
    {# Si tiene una sesion iniciada mostramos su perfil para modificar
    Sino tiene redirigimos al login #}
{% endblock %}