{% extends 'base.html.twig' %}
{% block titulo %}
  <h1 id="titulo">Reservar</h1>
{% endblock %}
{% block body %}
    {# <div class="container">
        <div class="row">
          <div class="col-12"> #}
              <form class="trip-form">
                <div class="row">
                  <div class="form-group col-md-3">
                    <label for="cf-1">Día</label>
                    <input type="text" id="cf-1" class="form-select form-control calendario" readonly>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="cf-2">Hora</label>
                    <select id="cf-2" class="form-select form-control" aria-label="Default select example">
                      <option selected value="0">-Selecciona hora-</option>
                      <option value="09:00">09:00</option>
                      <option value="09:30">09:30</option>
                      <option value="10:00">10:00</option>
                      <option value="10:30">10:30</option>
                      <option value="11:00">11:00</option>
                      <option value="11:30">11:30</option>
                      <option value="12:00">12:00</option>
                      <option value="12:30">12:30</option>
                      <option value="13:00">13:00</option>
                      <option value="13:30">13:30</option>
                      <option value="14:00">14:00</option>
                      <option value="17:00">17:00</option>
                      <option value="17:30">17:30</option>
                      <option value="18:00">18:00</option>
                      <option value="18:30">18:30</option>
                      <option value="19:00">19:00</option>
                      <option value="19:30">19:30</option>
                      <option value="20:00">20:00</option>
                    </select>
                  </div>
                </div>
                <div class="row align-items-center mb-4">
                  <div class="col-md-6">
                    {# <h3 class="m-0">{{coche.nombre}}</h3> #}
                    <h1 class="m-0">Nombre marca y modelo</h1>
                  </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        {# <img src="/bd/488.jpg"></img> #}
                        <div style='background-image: url(/bd/488.jpg); width: 100%; background-size: 70%; background-repeat: no-repeat; background-position: center; height:210px'></div>
                    </div>
                    <div class="col-lg-6">
                    <p>Potencia:</p>
                    <p>Cilindrada:</p>
                    <p>Velocidad máxima:</p>
                    </div>
                </div>

                <div class="row mt-5">
                  <div class="col-12">
                    <input type="submit" value="Buscar" class="btn btn-danger float-right" id="btnBuscar">
                    <select id="cf-2" class="form-select form-control float-left col-3" aria-label="Default select example">
                      <option selected value="0">-Añade otro coche-</option>
                    </select>
                  </div>
                </div>
              </form>
            {# </div>
        </div>
      </div> #}
{% endblock %}