{% extends 'base.html.twig' %}
{% block titulo %}
  <h1>Servicios</h1>
  <p>Circuito Alcázar, el mejor sitio para pilotar los mejore coches</p>
{% endblock %}
{% block body %}
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-4 mb-lg-5">
            <div class="service-1 dark">
              <span class="service-1-icon">
                <span class="flaticon-car"></span>
              </span>
              <div class="service-1-contents">
                <h3>Nos hacemos cargo de todo</h3>
                <p>Los coches son del circuito, revisamos minuciosamente el estado</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-5">
            <div class="service-1 dark">
              <span class="service-1-icon">
                <span class="flaticon-valet-1"></span>
              </span>
              <div class="service-1-contents">
                <h3>Vuelta de reconocimiento</h3>
                <p>Primero una vuelta de reconocimiento para que conozcas el circuito</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-5">
            <div class="service-1 dark">
              <span class="service-1-icon">
                <span class="flaticon-key"></span>
              </span>
              <div class="service-1-contents">
                <h3>Te toca</h3>
                <p>Tienes el control, irás con un experto en caso de emergencia</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-5">
            <div class="service-1 dark">
              <span class="service-1-icon">
                <span class="flaticon-car-1"></span>
              </span>
              <div class="service-1-contents">
                <h3>Seguridad</h3>
                <p>La Seguridad y la diversión es lo primero</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-5">
            <div class="service-1 dark">
              <span class="service-1-icon">
                <span class="flaticon-traffic"></span>
              </span>
              <div class="service-1-contents">
                <h3>Aprendizaje</h3>
                <p>También puedes optar por vueltas rápidas y zig zag</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-5">
            <div class="service-1 dark">
              <span class="service-1-icon">
                <span class="flaticon-valet"></span>
              </span>
              <div class="service-1-contents">
                <h3>Comparte tu experiencia</h3>
                <p>Despues de cada reserva puedes darnos tu opinión y que la vean los demás</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container site-section mb-5">
      <video autoplay controls loop width="100%">
        <source src="videos/vueltaCircuito.mp4" type="video/ogg">
      </video>
    </div>
{% endblock %}